header.theme-light { background-color: white }
header.theme-light .badge { color: var(--sky-300) }
header.theme-light h1 { color: var(--sky-500) }
header.theme-light h2 { color: var(--slate-300) }

li a {
    color: green;
}

.section-selector-1 .col-4 { overflow: visible }

.linkbutton .linkbuttonclick,
.linkbutton .linkbuttonclick:hover,
.linkbutton .linkbuttonclick:active {
    color: #a26c00;
    text-decoration: none;
}


.linkbutton .linkbuttonclick{
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #a26c00;
    text-decoration: none;
}
.linkbutton .linkbuttonclick:hover{
    color: #a26c00;
    text-decoration: none;
}

.section-selector-1 .col-4 { overflow: visible }

.img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.nav a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.nav a:hover {
  background-color: #eeeeee;
  color: #000000;
}

.nav a.active {
  background-color: #0e002b;
  color: #ffffff;
}

.nav .login-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background-color: #1c87c9;
  color: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.nav .login-container button:hover {
  background-color: #0e002b;
}
